

import(plyr)
import(lda)
import(seqinr)
import(doParallel)
import(foreach)
import(stringr)
import(fitdistrplus)
import(GenomicRanges)

export(topMotif)
export(createtfLDAObj)
export(tfLDA)
export(plotLogLikelihood)
export(hdpConvert)
export(createDocuments)
export(genSeq)
export(fmotifscan)
export(fmotifscanbatch)
export(topPeak)
export(CTPeak)




